.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__link {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: none;
}

.header__links-list-item {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
  border-bottom: none;
}

.header__logo {
  width: 148px;
  height: 105px;
  cursor: pointer;
}

.header__logo-link {
  display: block;
}

.address {
  max-width: 240px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;

  a {
    text-decoration: none;
    border-bottom: 1px solid #000;
  }
}

.cover {
  min-height: 757px;
  /* padding: 165px 50px 50px; */
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
  z-index: 2;
}

.cover__title {
  position: relative;
  padding: 165px 50px 0 50px;
  z-index: 3;
  opacity: 1;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  letter-spacing: 30px;
  color: #ffffff;
}

.letter__spacing-none {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  padding: 0 50px;
  display: flex;
  gap: 107px;
}

.cover__description-text {
  margin-top: 98px;
  z-index: 3;
  opacity: 1;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.word_spacing-max {
  word-spacing: 20px;
}

.word_spacing-min {
  word-spacing: 18px;
}

.bet-button {
  margin-top: 86px;
  z-index: 3;
  opacity: 1;
  border: 1px solid #ffffff;
  padding: 13px 32px 13px 31px;
  margin-left: auto;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
}

.lots {
  padding: 184px 24px 120px;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 29px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
}

.lots__card-list {
  margin-bottom: 32px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  min-height: 596px;
  width: 334px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 3;
  opacity: 1;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #ffffff;
}

.card__text {
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 3;
  opacity: 1;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.lots__look-more-link {
  margin-left: 40px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  border-bottom: 1px solid #000000;
  cursor: pointer;
}

.about {
  margin-bottom: 180px;
  padding: 36px 8px 0 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 8px;
  align-items: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  width: 240px;
  height: 240px;
  border-radius: 180px;
  background-color: #000000;
}

.about__content {
  padding-bottom: 180px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 8px;
  grid-column-start: 2;
  grid-column-end: span 3;
  text-align: left;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000;
}

.about__text {
  grid-column-start: 2;
  grid-column-end: span 3;
  display: flex;
  align-self: self-start;
  flex-direction: column;
  gap: 24px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.footer {
  padding: 0 50px 82px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__address {
  justify-self: start;
  max-width: 265px;
}

.footer__menu {
  justify-self: center;
  text-align: left;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #000;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 3.5px;
  list-style: none;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  cursor: pointer;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
